
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(9, 160, 236);
}
.container{
    margin: 10px 50px 50px 330px;
    box-sizing: border-box;
    height:400px;
    width:600px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction:column;
}
.container .content{
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:normal;
}
